@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-family: 'Caveat', cursive;
  background-color: hsl(0, 0%, 93%);
  color: #333333;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 7rem;
  text-align: center;
  font-weight: 700;
  line-height: 1;
}

label {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

p {
  font-size: 2rem;
  font-weight: 700;
}

.container {
  width: min(1100px, 100% - 2rem);
  margin-inline: auto;
}

.underline {
  border-bottom: 2px solid #333333;
  width: 100%;
}

/* HEADER */

.header {
  padding-block: 2rem;
}

.header__container {
}

/* GAME */

.game__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}

/* CONTROLS */

.game__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 250px;
}

.game__menu__color {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.color-picker {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
}

.color-picker::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

/* ERASER */

.game__menu__eraser {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.eraser {
  padding: 0.2em;
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  cursor: pointer;
  border: 2px solid #333333;
}

.eraser.selected {
  color: hsl(0, 0%, 93%);
  background-color: hsl(0, 0%, 20%);
}

.game__menu__size {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
}

#size-input {
  height: 30px;
  -webkit-appearance: none;
  width: 100%;
  background-color: transparent;
}

#size-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 6px #002200;
  background-color: hsl(153, 56%, 49%);
  border-radius: 50px;
}

#size-input::-webkit-slider-thumb {
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background-color: #333333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

/* GAME */

.game__sketch {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game__sketch__board {
  display: grid;
  width: 650px;
  height: 650px;
  cursor: default;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0px 20px 0px;
}

.game__sketch__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -webkit-user-drag: none;
}
